{% extends 'base.html' %} {% block content %} {% load static %}

<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- Reqired meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon icon -->
    <link rel="shortcut icon" type = "img/png" href="img/turn.png">

    <!-- Core css -->
    <link rel = "Stylesheet" href = "styles.css">

    <title>Formulir Data Truck</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-container">  
            <form method="POST">
                {% csrf_token %}
                <div class="content-form">
                    <div class="row" class="d-flex justify-content-between align-items-center">
                        <div class="col">
                            <h2>Formulir Data Merek</h2>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'merek_list' %}'">Lihat Semua Merek</button>  
                        </div>
                    </div>
                    {{form_merek.as_p}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            

        </div>

    </div>
</body>
</html>
{% endblock content %}
{% load static %}